/* Main CSS */

body {
  font-family: 'Ubuntu', sans-serif;
}

body  *,
body  input[type="search"] {
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* Bus colors */
.bus-4 {
  color: #0CBCBC;
  background-color: #0CBCBC;
}
.bus-6 {
  color: #2053C8;
  background-color: #2053C8;
}
.bus-12 {
  color: #FFAF10;
  background-color: #FFAF10;
}
.bus-61 {
  color: #FF7C10;
  background-color: #FF7C10;
}
.bus-141 {
  color: transparent;
  background-color: transparent;
}
.bus-698 {
  color: transparent;
  background-color: transparent;
}


.kittenbus {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-message {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(10, 10, 10, 0.7);
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

.full-message-content {
  position: absolute;
  top: 45%;
  width: 100%;
  padding: 0 10%;
  line-height: 1.25em;
}

.note {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  text-align: center;
}

#map-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.times-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em 0.5em 0 0;
  width: 33.3333333%;
  z-index: 10;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.times .time-value {
  margin-bottom: 0.25em;
  padding: 0.25em 0.5em;
}

.times  .time-value:nth-child(even) {
  background-color: rgba(240, 240, 240, 0.8);
}

.times .time-value-icon {
  display: inline-block;
  min-width: 5%;
}

.times .bus-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.times .time-value-bus {
  display: inline-block;
  min-width: 10%;
}

.times .time-value-desc {
  display: inline-block;
  min-width: 65%;
  color: #454545;
}

.times .time-value-time {
  display: inline-block;
  min-width: 20%;
}

.times .time-value .fa-clock-o {
  font-size: 0.5em;
}
