<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kitten Bus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="css/kittenbus.css">
  </head>
  <body>
    <!-- Container for catimations view -->
    <div class="catimations">
      <div class="full-message">
        <div class="full-message-content">Loading ...</div>
      </div>

      <div class="panels">
        <div class="panel panel-1"></div>
        <div class="panel panel-2"></div>
        <div class="panel panel-3"></div>
      </div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="catimation-panel">
      <div class="panel-inner <%= (d.newBus) ? 'new-bus' : '' %> <%= (d.frameChange) ? 'new-frame' : '' %>">
        <div class="panel-middle">
          <img src="<%= d.frameImage %>">
        </div>

        <div class="panel-bottom">
          <div class="panel-left">
            <span class="bus-bus">Bus <%= d.routeID %></span><br>
            <span class="bus-description"><%= d.shortDesc %> </span>
          </div>

          <div class="panel-right">
            <%= (d.minutes <= 2) ? 'Due' : d.minutes + ' min' %>
          </div>
        </div>
      </div>
    </script>


    <!-- Container for kittenbus (map view) -->
    <div class="kittenbus">
      <div class="full-message">
        <div class="full-message-content">Loading ...</div>
      </div>

      <!--
      <div class="note">
        The map above is just a draft.  Bus times with a clock icon <i class="fa fa-clock-o"></i> are scheduled times and not based on actual bus movements.
      </div>
      -->

      <div class="attribution">
        Project by Juxtaposition Arts and Alan Palazzolo.  Bus data provided by MetroTransit/NexTrip.  Bike data from NiceRide.  Map tiles by Stamen Design, under CC BY 3.0. Data by OpenStreetMap, under ODbL.
      </div>

      <div class="listings">
        <div class="times-container listing">
          <div class="listing-title">Buses</div>

          <div class="no-buses">There are no buses coming in the next ~20 minutes.</div>

          <div class="times"></div>
        </div>

        <div class="bikes-container listing">
          <div class="listing-title">Bikes</div>

          <div class="bikes"></div>
        </div>
      </div>

      <div id="map-container">
      </div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="times-item-template">
      <div class="<%= (d.Actual) ? 'actual' : '' %>">
        <span class="time-value-icon">
          <span class="bus-<%= d.Route %> bus-icon"></span>
        </span>

        <span class="time-value-bus">
          <%= d.routeID %>

          <% if (d.VehicleLatitude) { %>
            <i class="fa fa-map-marker"></i>
          <% } %>
        </span>

        <span class="time-value-desc"><%= d.Description %></span>

        <span class="time-value-min">
          <%= (d.minutes < 3) ? 'Due' : d.minutes + ' min' %>

          <% if (!d.Actual) { %>
            <i class="fa fa-clock-o"></i>
          <% } %>
        </span>
      </div>
    </script>

    <script type="text/template" id="bikes-item-template">
      <div class="">
        <span class="bike-icon station">
          <img src="images/bicycle-default-maki.svg">
        </span>
        <span class="bike-station"><%= d.data.s %></span>
        <span class="bike-count"><%= d.data.ba %> bikes</span>
        <!-- <%= d.data.da %> docks -->
      </div>
    </script>


    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/Leaflet.MakiMarkers/Leaflet.MakiMarkers.js"></script>
    <script src="bower_components/turf/turf.js"></script>

    <script src="js/scratch-post.js"></script>
    <script src="js/prowl.js"></script>
    <script src="js/catbike.js"></script>
    <script src="js/furball.js"></script>

    <!--
    <script src="js/kittenbus.js"></script>
    -->

    <script src="js/catimations.js"></script>
  </body>
</html>
