<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kitten Bus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="css/kittenbus.css">
  </head>
  <body>

    <div class="loading">
      <div>Loading ...</div>
    </div>

    <div class="time-listing-container">
      <div class="time-listing">

      </div>
    </div>

    <div class="svg-container">
    </div>


    <!-- Templates -->
    <script type="text/template" id="time-listing-value-template">
      <div class="<%= (d.Actual) ? 'actual' : '' %>">
        <span class="time-value-bus"><%= d.busID %></span>
        <span class="time-value-desc"><%= d.Description %></span>
        <span class="time-value-min">
          <%= (d.minutes < 3) ? 'Due' : d.minutes + ' min' %>
          <% if (!d.Actual) { %>
            <i class="fa fa-clock-o"></i>
          <% } %>
        </span>
      </div>
    </script>

    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>

    <script src="js/furball.js"></script>
    <script src="js/kittenbus.js"></script>
  </body>
</html>
